In [2]:
class Employee():
    Employee_name="Ben"
    department="sales"
    starting_year=2020
    salary=5000

In [3]:
myObject=Employee()

In [4]:
myObject.Employee_name,myObject.department,myObject.starting_year,myObject.salary

('Ben', 'sales', 2020, 5000)

In [5]:
class Employee():
    def __init__(self,Employee_name,department,starting_year,salary):
        self.Employee_name=Employee_name
        self.department=department
        self.starting_year=starting_year
        self.salary=salary

In [6]:
employee_1=Employee("ben","Sales",2020,5000)

In [7]:
employee_1.Employee_name,employee_1.department,employee_1.starting_year,employee_1.salary

('ben', 'Sales', 2020, 5000)

In [10]:
employee_1.Employee_name="Osman"

In [12]:
employee_1.Employee_name

'Osman'

In [2]:
class HealthInsurance:
    def __init__(self,company_name,num_of_clients):
        self.company_name=company_name
        self.num_of_clients=num_of_clients

In [3]:
HI_company=HealthInsurance("Hi com",1020)

In [4]:
def update_num_clients(self,new_number):
    self.new_number=new_number
    self.num_of_clients=new_number
    print(f"Number of clients has been changed {self.num_of_clients}!")

In [11]:
HI_company.update_num_clients(1552)

AttributeError: 'HealthInsurance' object has no attribute 'update_num_clients'

In [4]:
meyve=" apple,  banana  ,cherry, avacado".strip(" ")
meyve.strip(" ")

'apple,  banana  ,cherry, avacado'

In [7]:
print("dahdvajgvdadvavdsadva".split("d"))

['', 'ah', 'vajgv', 'a', 'vav', 'sa', 'va']